In [ ]:
"""
Domain
    Chemical Industry

focus
    Classify chemical

Business challenge/requirement
    FuPont is a leading chemical company across the globe. The Company is on a CSR 
    (Corporate Social Responsibility) mission. It wants to identify biodegradable 
    products based on a study of the relationships between chemical structure and 
    biodegradation of molecules. 
    You as an ML expert have to create an ML model to classify the chemical structure as 
    'Ready BioDegradable' - RB vs 'Not Ready Biodegradable' - NRB

Key issues
    Data has lots of attributes and classification could be tricky

Considerations
    NONE

Data volume
    - Approx 1055 records - file bio-degradabale-data.csv 

Fields in Data
    • Details in .ipynb notebook

Additional information
    - NA

Business benefits
    Research can lead FuPont to create truly unique Biodegradable packaging material. 
    This could lead to massive profits in future
"""

In [18]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from warnings import filterwarnings

In [19]:
filterwarnings(action='ignore')

In [20]:
CSV_PATH = r'D:\CourseWork\data-science-python-certification-course\Assignments\14 Model Selection and Boosting\Case Study I\resources\bio-degradabale-data.csv'
df = pd.read_csv(CSV_PATH, delimiter=';', header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 42 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1055 non-null   float64
 1   1       1055 non-null   float64
 2   2       1055 non-null   int64
 3   3       1055 non-null   int64
 4   4       1055 non-null   int64
 5   5       1055 non-null   int64
 6   6       1055 non-null   int64
 7   7       1055 non-null   float64
 8   8       1055 non-null   int64
 9   9       1055 non-null   int64
 10  10      1055 non-null   int64
 11  11      1055 non-null   float64
 12  12      1055 non-null   float64
 13  13      1055 non-null   float64
 14  14      1055 non-null   float64
 15  15      1055 non-null   int64
 16  16      1055 non-null   float64
 17  17      1055 non-null   float64
 18  18      1055 non-null   int64
 19  19      1055 non-null   int64
 20  20      1055 non-null   int64
 21  21      1055 non-null   float64
 22  22      1055 non-null   int64
 23  23      1055 non-null   int64
 24  24      1055 non-null   int64
 25  25      1055 non-null   int64
 26  26      1055 non-null   float64
 27  27      1055 non-null   float64
 28  28      1055 non-null   int64
 29  29      1055 non-null   float64
 30  30      1055 non-null   float64
 31  31      1055 non-null   int64
 32  32      1055 non-null   int64
 33  33      1055 non-null   int64
 34  34      1055 non-null   int64
 35  35      1055 non-null   float64
 36  36      1055 non-null   float64
 37  37      1055 non-null   int64
 38  38      1055 non-null   float64
 39  39      1055 non-null   int64
 40  40      1055 non-null   int64
 41  41      1055 non-null   object
dtypes: float64(17), int64(24), object(1)
memory usage: 346.3+ KB

In [21]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [22]:
X = df.iloc[:, 0:41]
Y = df[41]
train_x, test_x, train_y, test_y = train_test_split(
    X, Y, random_state=57, test_size=0.25)

In [23]:
lrm = LogisticRegression()
lrm.fit(train_x, train_y)
predicted = lrm.predict(test_x)

In [24]:
accuracy_score(test_y, predicted)

0.8522727272727273

In [25]:
cross_val_score(lrm, X, Y, cv=10, scoring='accuracy').mean()

0.8539802336028751