In [ ]:
"""
The data file contains numerical attributes that describe a letter and its 
corresponding class. Read the datafile “letterCG.data” and set all the numerical 
attributes as features. Split the data into train and test sets.
"""

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [2]:
CSV_PATH = r'D:\CourseWork\data-science-python-certification-course\Assignments\14 Model Selection and Boosting\Case Study III\resources\letterCG.data'
df = pd.read_csv(CSV_PATH, sep=' ')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1509 entries, 0 to 1508
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        1509 non-null   object
 1   x-box        1509 non-null   int64
 2   y-box        1509 non-null   int64
 3   width        1509 non-null   int64
 4   high         1509 non-null   int64
 5   Unnamed: 5   1509 non-null   int64
 6   onpix        1509 non-null   int64
 7   x-bar        1509 non-null   int64
 8   y-bar        1509 non-null   int64
 9   x2bar        1509 non-null   int64
 10  y2bar        1509 non-null   int64
 11  xybar        1509 non-null   int64
 12  x2ybr        1509 non-null   int64
 13  xy2br        1509 non-null   int64
 14  x-ege        1509 non-null   int64
 15  xegvy        1509 non-null   int64
 16  y-ege        1509 non-null   int64
 17  yegvx        0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
dtypes: float64(2), int64(16), object(1)
memory usage: 224.1+ KB

In [3]:
df.head(10)

,Class,x-box,y-box,width,high,Unnamed: 5,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,Unnamed: 18
0,C,4,10,5,8,2,5,7,7,10,7,6,13,1,8,4,9,NaN,NaN
1,C,3,5,4,4,2,4,8,5,7,12,9,11,1,10,2,7,NaN,NaN
2,G,5,10,6,7,3,8,7,8,8,6,7,9,2,7,5,10,NaN,NaN
3,C,5,9,6,7,4,3,8,6,7,12,10,13,1,9,3,7,NaN,NaN
4,G,4,8,5,6,3,6,6,7,6,10,7,12,2,9,4,9,NaN,NaN
5,G,2,1,2,2,1,7,7,6,5,6,6,10,2,9,4,9,NaN,NaN
6,G,3,7,4,5,3,6,5,5,6,6,6,9,2,9,3,7,NaN,NaN
7,C,3,6,5,4,1,6,8,6,10,7,7,12,1,7,4,9,NaN,NaN
8,G,5,7,6,5,3,6,7,6,6,10,8,8,2,9,5,9,NaN,NaN
9,C,5,8,6,6,2,6,7,7,10,6,6,15,1,8,4,9,NaN,NaN

In [4]:
df.drop(["Unnamed: 5", "Unnamed: 18", "yegvx"], axis=1, inplace=True)
df.fillna(0)

,Class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege
0,C,4,10,5,8,5,7,7,10,7,6,13,1,8,4,9
1,C,3,5,4,4,4,8,5,7,12,9,11,1,10,2,7
2,G,5,10,6,7,8,7,8,8,6,7,9,2,7,5,10
3,C,5,9,6,7,3,8,6,7,12,10,13,1,9,3,7
4,G,4,8,5,6,6,6,7,6,10,7,12,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,C,5,10,6,8,5,8,9,9,9,9,12,2,10,4,9
1505,C,6,11,7,8,6,7,10,9,10,7,11,2,12,4,9
1506,G,5,9,6,7,6,7,6,6,10,7,10,2,9,5,9
1507,C,6,11,7,8,5,8,7,6,8,8,15,4,9,6,6
1508,C,5,10,5,8,6,8,7,7,13,7,9,2,11,3,7

In [7]:
X = df.iloc[:, 1:]
Y = df["Class"]
train_x, test_x, train_y, test_y = train_test_split(X, Y, random_state=57, test_size=0.35)

In [8]:
base_class = DecisionTreeClassifier(max_depth=1)

In [10]:
ada_Boost = AdaBoostClassifier(base_estimator=base_class, n_estimators=400, learning_rate=1, algorithm='SAMME')
ada_Boost.fit(train_x, train_y)
predicted = ada_Boost.predict(test_x)
metrics.accuracy_score(predicted, test_y)

c:\Users\Vishv\miniconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.9678638941398866

In [11]:
base_class = DecisionTreeClassifier(max_depth=2)
ada_Boost = AdaBoostClassifier(base_estimator=base_class, n_estimators=400, learning_rate=1, algorithm='SAMME')
ada_Boost.fit(train_x, train_y)
predicted = ada_Boost.predict(test_x)
metrics.accuracy_score(predicted, test_y)

c:\Users\Vishv\miniconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.9905482041587902